html {
    font-size: 16px;
}

@include small-mobile {
    html {
        font-size: 50%;
    }
}
@include mobile {
    html {
        font-size: 50%;
    }
}

@include tablet {
    html {
        font-size: 100%;
    }
}
@include HDdesktop {
    html {
        font-size: 120%;
    }
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
