.main-info-section-3-details {
    @include container;
    display: flex;
    flex-direction: column;
    background: #f6f5ef;

    .info-section-3-header > h3 {
        font-size: $header-font;
        text-align: center;
    }
    .main-features {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;

        .trading-feature,
        .security-feature,
        .robust-feature {
            text-align: center;
            border-radius: 3%;
            padding: 1%;
            width: 30%;
            height: 35%;
            box-shadow: 2px 3px 5px rgba(253, 198, 162, 0.596);

            .trading-icon,
            .security-icon,
            .robust-icon {
                font-size: 3rem;
            }
            .trading-icon:nth-of-type(1) {
                color: orange;
            }
            .security-icon:nth-of-type(1) {
                color: rgb(133, 29, 15);
            }
            .robust-icon:nth-of-type(1) {
                color: rgb(33, 22, 180);
            }

            .trading-info-header {
                font-size: $sub-header-font;
                margin: 5% 0%;
            }
            .trading-info,
            .security-info,
            .robust-info {
                font-size: $normal-font + 0.1rem;
                margin: 3% 0%;
            }
        }
    }
}
