.main-info-section-2-details {
    @include container;
    background-color: #f2ede5;
    display: flex;

    .main-info-section-left,
    .main-info-section-right {
        height: 100%;
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 5rem;

        h3 {
            width: 10rem;
        }
    }
    .main-info-section-middle {
        height: 100%;
        flex-grow: 3.5;

        .trade-img {
            width: fit-content;
            margin: 0% auto;
            background: transparent;
            margin-top: 7rem;
            transform: perspective(100rem) rotateY(-40deg) translateY(-3rem) rotateX(20deg);
            border-radius: 1.9rem;
            border-bottom-left-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
            border-top-right-radius: 2.5rem;
            box-shadow: 6px 6px 6px rgb(207, 207, 207);
            transition: 0.7s ease-in all;

            @include HDdesktop {
                transform: perspective(100rem) rotateY(-40deg) translateY(6rem) rotateX(20deg);
            }

            &:hover {
                transform: none;
                border-radius: none;
                margin-top: 4rem;
                opacity: 0.5;
                filter: blur(2px);
            }

            img {
                width: 20rem;
                height: 40rem;
                background: transparent;
            }
        }

        .fa-hand-holding-dollar {
            position: relative;
            top: -95%;
            right: -80%;
            font-size: 4rem;
            height: 7rem;
            width: 7rem;
            text-align: center;
            padding-top: 1.25rem;
            border-radius: 0% 30% 0% 30%;
            background-color: #ffe59e;
            color: rgb(255, 102, 0);

            @include HDdesktop {
                top: -65%;
            }
        }

        .info-header {
            position: relative;
            top: -90%;
            letter-spacing: 0.1rem;
            z-index: 2;
            padding-left: 5rem;

            @include HDdesktop {
                top: -60%;
            }

            span {
                font-size: 3rem;
                font-weight: 900;
                text-transform: capitalize;
                padding: 0.5rem 0rem;
                display: inline-flex;
            }
            .fa-money-bill-trend-up {
                margin-top: 1rem;
                font-size: 4rem;
                height: 7rem;
                width: 7rem;
                text-align: center;
                padding-top: 1.25rem;
                border-radius: 0% 30% 0% 30%;
                background-color: #fcbae3;
                color: rgb(255, 0, 157);

                @include HDdesktop {
                    margin-top: 5rem;
                }
            }
        }
    }

    .main-info-section-right {
        align-items: flex-start;
        gap: 1rem;
        .curve-img {
            position: relative;
            top: 0%;
            left: -35%;
            width: 10rem;
            height: 10rem;
            transform: rotate(25deg);
            border-radius: 20%;
            box-shadow: 2px 3px 6px rgb(146, 146, 146);

            &::after {
                content: "ofspace";
                position: relative;
                top: -60%;
                left: 30%;
                font-size: 1.2rem;
                font-weight: 800;
            }
        }
    }
}
