:root {
    font-size: 16px;
}

@include small-mobile {
    :root {
        font-size: 12px;
    }
}
@include mobile {
    :root {
        font-size: 14px;
    }
}

@include HDdesktop {
    :root {
        font-size: 18px;
    }
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
