@mixin container {
    width: 100%;
    height: 100vh;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    color: $font-color;
}
@mixin create-btn-style {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    outline: 1.5px solid rgb(1, 44, 1);
    background-color: #c4f7d5;
    color: $font-color;
    font-size: small;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }
}
